<nav class="navbar navbar-inverse  navbar-fixed-top center">
	<div class='container-fluid'>
		<div class='navbar-header'>
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	        </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        	<div class='navbar-inner'>
	            <ul class="nav navbar-nav">
	                <li><a href="#/home">Home</a></li>
	                <li class='active'><a href="#/about">About</a></li>
	                <li><a href="#/events">Events</a></li>
	                <li><a href="#/join">Join</a></li>
	                <li><a href="#/gallery">Gallery</a></li>
	                <li><a href="#/contact">Contact</a></li>
	            </ul>
	        </div>
		</div><!--/.nav-collapse -->
	</div>
</nav>
<div class='header'>
	<img src='/static/img/prsd_logo.jpg' class='img-responsive center-block' id='logo' alt='Platte River Scuba Divers logo'/>
</div>
<div class='container main'>
	<div class="row">
		<div class='col-lg-12 col-md-12 col-sm-12'>
			<h3 class='text-center mission'>Promote fun and safe diving for all ages.  Explore and protect our aquatic environment.  Stay active in diving.</h3>
				<blockquote>
					<p>
						After working in the Watersports Unlimited dive shop in North Platte for several months, I noticed there was a very diverse group of divers in Nebraska. Most divers outside of the state have the same comments, “where do you dive in Nebraska” and “what is there to see and do”?

						The divers here fall into two main categories: vacation divers and spear fishing divers. There are a few hard core cold water divers around, but most are in these two categories.

						The first category of divers are vacation divers -- where they dive, snorkel and explore a different world below the surface at their favorite vacation spot.

						The second category of divers are spear fishers – they know someone who has speared walleye or wipers out of the not so clear water of “Big Mac” with a big smile on their face and they had to try the sport, too.

						Both categories are generally seasonal, vacation diving in the winter months and spear fishing in the summer and fall months. The need for a platform to keep the skill level and enthusiasm going for scuba diving year around was obvious. The best way to accomplish this was through a dive club. A club would bring people together to talk about their dive interests and give them support to continue their hobby.

						Kim Herrick, Jimmy Edwards, Rob Lybarger and I joined together to start the Platte River Scuba Divers. Our mission was to bring all the divers together and give them a platform to keep their interest in scuba diving year around. People enjoy the same sport in different ways and this gives them an avenue to keep their skills sharp so they can fully enjoy this sport safely when they venture away from Nebraska.

						Safety has been our goal for every dive. If the Platte River Scuba Divers help divers in Nebraska, or anywhere, it has been well worth the time every one has spent to keep a smile on a divers face.
					</p>
					<p class='text-center'>
						- Deland Humpherys<br>
						  PADI 315971
					</p>
				</blockquote>
		</div>
	</div>
	<div class="row">
		<div class='col-lg-6 col-md-6 col-sm-6 pull-left' id='left_div'>
			<a href="http://http://www.watersportsunlimited.net/index.htm">
				<img id="watersportsLogo" class='img-responsive pull-left' src="/static/img/watersports_new.png" alt="Watersports Unlimited Logo">
			</a>
		</div>
		<div class='col-lg-6 col-md-6 col-sm-6 pull-right' id='right_div'>
			<a href='https://www.padi.com/'>
				<img id="padiLogo"  class='img-responsive pull-right' src="/static/img/padi_logo.jpg" alt="Professional Association of Dive Instructors Logo">
			</a>
		</div>
	</div>
</div>
<div class='footer-border'></div>
<footer class='footer footer-inverse'>
	<p class='text-muted text-center'>Copyright &copy; 2017 Platte River Scuba Divers</p>
	<p class='text-center'><small>All images and logos are property of their respective owners</small></p>
</footer>

