<nav class="navbar navbar-inverse  navbar-fixed-top">
	<div class='container-fluid'>
		<div class='navbar-header'>
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	        </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        	<div class='navbar-inner'>
	            <ul class="nav navbar-nav">
	                <li><a href="#/home">Home</a></li>
	                <li><a href="#/about">About</a></li>
	                <li class='active'><a href="#/events">Events</a></li>
	                <li><a href="#/join">Join</a></li>
	                <li><a href="#/gallery">Gallery</a></li>
	                <li><a href="#/contact">Contact</a></li>
	            </ul>
	        </div>
		</div><!--/.nav-collapse -->
	</div>
</nav>
<div class='header'>
	<img src='/static/img/prsd_logo.jpg' class='img-responsive center-block' id='logo' alt='Platte River Scuba Divers logo'/>
</div>
<div class='container main'>
	<div class="row">
		<h3 class='text-center mission'>Promote fun and safe diving for all ages.  Explore and protect our aquatic environment.  Stay active in diving.</h3>
		<h5 class='text-center'>2017</h5>
		<div class='col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-left'>
			<h3 class='text-center'>Underwater Spearfishing Tournaments</h3>
			<ul class='list-group'>
				<li class='list-group-item text-center'>April 8 | Colorado River, Willow Beach, Arizona</li>
				<li class='list-group-item text-center'>May 18-20 | Worlds - Lake Mead, Las Vegas, Nevada</li>
				<li class='list-group-item text-center'>June 10 | Lake McConaughy, Ogallala, Nebraska</li>
				<li class='list-group-item text-center'>June 24 | Freshwater Nationals - Glendo Reservoir, Wyoming </li>
				<li class='list-group-item text-center'>July 15 | Fish Lake, Utah</li>
				<li class='list-group-item text-center'>August 2 | USOA Nationals - Noyo, California</li>
				<li class='list-group-item text-center'>August 12 | Lake Oahe, Pierre, South Dakota</li>
				<li class='list-group-item text-center'>August 26 | Lake McConaughy, Ogallala, Nebraska</li>
			</ul>
		</div>
		<div class='col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-right'>
			<h3 class='text-center'>PRSD Club Events</h3>
			<ul class='list-group'>
				<li class='list-group-item text-center'>TBA | PRSD Club Garage Sale</li>
				<li class='list-group-item text-center'>TBA | Keep North Platte &amp; Lincoln County Beautiful Trash Pick-up</li>
				<li class='list-group-item text-center'>May 13 | Hershey Intersate Lake Underwater Trash Pick-up</li>
				<li class='list-group-item text-center'>June 1-4 | Box Butte Reservoir, Hemingford, Nebraska </li>
				<li class='list-group-item text-center'>June 10 | Rough Fish Roundup - Lake McConaughy, Ogallala, Nebraska</li>
				<li class='list-group-item text-center'>August 5 | Lake Mac Fun Day &amp; Luau- Lake McConaughy, Ogallala, Nebraska</li>
				<li class='list-group-item text-center'>August 26 |Lake Mac Shootout - Lake McConaughy, Ogallala, Nebraska</li>
				<li class='list-group-item text-center'>TBA | Keep North Platte &amp; Lincoln County Beautiful Trash Pick-up</li>
				<li class='list-group-item text-center'>October 28 | Underwater Pumpkin Carving Contest - Hershey, Nebraska</li>
				<li class='list-group-item text-center'>TBA | PRSD Christmas Party - North Platte, Nebraska</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class='col-lg-6 col-md-6 col-sm-6 pull-left' id='left_div'>
			<a href="http://www.watersportsunlimited.net/">
				<img id="watersportsLogo" class='img-responsive pull-left' src="/static/img/watersports_logo.jpg" alt="Watersports Unlimited Logo">
			</a>
		</div>
		<div class='col-lg-6 col-md-6 col-sm-6 pull-right' id='right_div'>
			<a href='https://www.padi.com/'>
				<img id="padiLogo"  class='img-responsive pull-right' src="/static/img/padi_logo.jpg" alt="Professional Association of Dive Instructors Logo">
			</a>
		</div>
	</div>
</div>
<div class='footer-border'></div>
<footer class='footer footer-inverse'>
	<p class='text-muted text-center'>Copyright &copy; 2017 Platte River Scuba Divers</p>
	<p class='text-center'><small>All images and logos are property of their respective owners</small></p>
</footer>

