<nav class="navbar navbar-inverse  navbar-fixed-top center">
	<div class='container-fluid'>
		<div class='navbar-header'>
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	        </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        	<div class='navbar-inner'>
	            <ul class="nav navbar-nav">
	                <li><a href="#/home">Home</a></li>
	                <li><a href="#/about">About</a></li>
	                <li><a href="#/events">Events</a></li>
	                <li class='active'><a href="#/join">Join</a></li>
	                <li><a href="#/gallery">Gallery</a></li>
	                <li><a href="#/contact">Contact</a></li>
	            </ul>
	        </div>
		</div><!--/.nav-collapse -->
	</div>
</nav>
<div class='header'>
	<img src='http://d1vl6bnef6sopf.cloudfront.net/prsd_logo.jpg' class='img-responsive center-block' id='logo' alt='Platte River Scuba Divers logo'/>
</div>
<div class='container main'>
	<div class="row">
		<h3 class='text-center mission'>Promote fun and safe diving for all ages.  Explore and protect our aquatic environment.  Stay active in diving.</h3>
		<div class='col-lg-6 col-md-6 col-sm-6 col-centered '>
			<h2 class='text-center'>Join the Platte River Scuba Divers!</h2>
			<div class='row'>
				<div class="col-lg-6 col-md-6 col-sm-6">
					<h3 class='text-center'>PayPal</h3>
					<h4 class='text-center'><strong>$21</strong></h4>
					<p class='text-center'><small>* inlcudes $1 handling fee</small></p>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6">
					<h3 class='text-center'>Cash or Check</h3>
					<h4 class='text-center'>$20</h4>
					<div class='text-center'>
						<p class='join_p'>Mail to:</p>
						<address class='join_address'>
						  <strong>Nikki Wiezorek</strong><br>
						  905 East 4th Street<br>
						  North Platte, NE, 69101<br>
						</address>
					</div>
				</div>
			</div>
			<p class='text-center'>Paying with PayPal?  Fill out the form and join today!</p>
			<form name='joinForm' ng-submit='send_email()' action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
				<input type="hidden" name="cmd" value="_s-xclick"> <!-- PayPal -->
				<input type="hidden" name="hosted_button_id" value="ZXQM7HD3ZHC5Q"> <!-- PayPal -->
				<div class='joinMessage' ng-if='joinSuccess'> <!-- show any errors in sending the form -->
					<div class='alert alert-success fade-in'>
						<p class='text-center'>{{ joinSuccess }}</p>
					</div>
				</div>
				<div class='joinMessage' ng-if='joinFail'> <!-- show any errors in sending the form -->
					<div class='alert alert-danger fade-in'>
						<p class='text-center'>{{ joinFail }}</p>
					</div>
				</div>
				<!-- Name -->
				<div class='form-group'>
					<label for='name' class='sr-only'>Name</label>
					<input type='text' id='name' name='name' class='form-control' placeholder='Name...' ng-model='newEmail.name' required>
				</div>
				<!-- Email -->
				<div class='form-group'>
					<label for='email' class='sr-only'>Email</label>
					<input type='email' id='email' name='email' class='form-control' placeholder='Email...' ng-model='newEmail.email' required>
				</div>
				<!-- Comments -->
				<div class='form-group'>
					<textarea class="form-control" id='comments' name='comments' rows="3" placeholder='Comments...' ng-model='newEmail.comments'></textarea>
				</div>
				<button type="submit" id='paypal_btn' class='btn btn-large center-block paypal_btn'>Pay Now</button>
			</form>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<img class='img-responsive center-block' src="https://www.paypalobjects.com/webstatic/mktg/logo/AM_mc_vs_dc_ae.jpg" border="0" alt="PayPal Acceptance Mark">
			</div>
		</div>
	</div>
	<div class="row">
		<div class='col-lg-6 col-md-6 col-sm-6 pull-left' id='left_div'>
			<a href="http://www.watersportsunlimited.net/">
				<img id="watersportsLogo" class='img-responsive pull-left' src="http://d1vl6bnef6sopf.cloudfront.net/watersports_logo.jpg" alt="Watersports Unlimited Logo">
			</a>
		</div>
		<div class='col-lg-6 col-md-6 col-sm-6 pull-right' id='right_div'>
			<a href='https://www.padi.com/'>
				<img id="padiLogo"  class='img-responsive pull-right' src="http://d1vl6bnef6sopf.cloudfront.net/padi_logo.jpg" alt="Professional Association of Dive Instructors Logo">
			</a>
		</div>
	</div>
</div>
<div class='footer-border'></div>
<footer class='footer footer-inverse'>
	<p class='text-muted text-center'>Copyright &copy; 2017 Platte River Scuba Divers</p>
	<p class='text-center'><small>All images and logos are property of their respective owners</small></p>
</footer>


<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="ZXQM7HD3ZHC5Q">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
