<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class='container-fluid'>
		<div class='navbar-header'>
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	        </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        	<div class='navbar-inner'>
	            <ul class="nav navbar-nav">
	                <li><a href="#/home">Home</a></li>
					<li class="dropdown">
						<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Register <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#/register_june">Rough Fish Roundup</a></li>
							<li class='active'><a href="#/register">Nationals Spearfishing</a></li>
						</ul>
			        </li>
	                <li><a href="#/about">About</a></li>
	                <li><a href="#/events">Events</a></li>
	                <li><a href="#/join">Join</a></li>
	                <li><a href="#/gallery">Gallery</a></li>
	                <li><a href="#/contact">Contact</a></li>
	            </ul>
	        </div>
		</div><!--/.nav-collapse -->
	</div>
</nav>
<div class='header'>
	<img src='http://d1vl6bnef6sopf.cloudfront.net/prsd_logo.jpg' class='img-responsive center-block' id='logo' alt='Platte River Scuba Divers logo'/>
</div>
<div class='container-fluid main'>
	<div class="row" id='row_1'>
		<div class='col-lg-12 col-md-12 col-sm-12'>
			<h3 class='text-center mission'>Promote fun and safe diving for all ages.  Explore and protect our aquatic environment.  Stay active in diving.</h3>
            <div class="text-center" id='nationals'>
                <h1>2017 National Freshwater Spearfishing Tournament</h1>
                <h2>August 26  |  Martin Bay, Lake McConaughy</h2>
                <h2>Ogallala, Nebraska</h2>
            </div>
            <p class='text-center'><strong>Contact <a href="mailto:csack99@hotmail.com">Casey Sack</a> for more information</strong></p>
		</div>
	</div>
    <div class="row nationals_div" id="row_2">
        <div class='col-lg-12 col-md-12 col-sm-12 text-center'>
            <h2>Schedule of Events</h2>
            <p class='nationals_p_boarder'>All times listed are Mountain Daylight Time</p>
            <h3>Friday, August 25th</h3>
            <p class='nationals_p_boarder'>6:00 p.m. MDT - Mandatory Competition Meeting and Fishing License Verification</p>
            <h3>Saturday, August 26th</h3>
            <p>7:30 a.m. MDT - Mandatory Briefing/Check-out</p>
            <p>7:45 a.m. MDT - Begin Travel Time</p>
            <p>8:00 a.m. MDT - Tournament Begins (Divers may enter the water)</p>
            <p>3:00 p.m. MDT - Tournament Ends (Divers must exit the water)</p>
            <p>3:30 p.m. MDT - Mandatory Check-in / Weigh-in Begins</p>
            <p>6:00 p.m. MDT - Banquet / Awards / Raffles</p>
        </div>
    </div>
    <div class="row" id='row_3'>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id='nationals_form_div'>
            <h2>Register Here</h2>
			<p>This is a two part sign-up.  Fill out the form first, and when done, click on the PayPal Button</p>
			<div class="form_iframe">
  				<iframe class="" src="https://docs.google.com/forms/d/e/1FAIpQLSeFUJkU0itvPwBBtCN-33DcsrBtppZg191G_gDMl13INQQv0A/viewform?embedded=true" width="100%" height="800" frameborder="0" marginheight="0" marginwidth="0">Loading...></iframe>
			</div>
			<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="NFG2QEXCNTAFL">
				<input class="img-responsive center-block" type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
				<img class="img-responsive center-block" alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
			</form>
        </div>
    </div>
	<!-- <div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<img class='img-responsive center-block' src="https://www.paypalobjects.com/webstatic/mktg/logo/AM_mc_vs_dc_ae.jpg" border="0" alt="PayPal Acceptance Mark">
		</div>
	</div> -->
	<div class="row">
		<div class='col-lg-6 col-md-6 col-sm-6 pull-left' id='left_div'>
			<a href="http://www.watersportsunlimited.net/">
				<img id="watersportsLogo" class='img-responsive pull-left' src="http://d1vl6bnef6sopf.cloudfront.net/watersports_new.png" alt="Watersports Unlimited Logo">
			</a>
		</div>
		<div class='col-lg-6 col-md-6 col-sm-6 pull-right' id='right_div'>
			<a href='https://www.padi.com/'>
				<img id="padiLogo"  class='img-responsive pull-right' src="http://d1vl6bnef6sopf.cloudfront.net/padi_logo.jpg" alt="Professional Association of Dive Instructors Logo">
			</a>
		</div>
	</div>
</div>
<div class='footer-border'></div>
<footer class='footer footer-inverse'>
	<p class='text-muted text-center'>Copyright &copy; 2017 Platte River Scuba Divers</p>
	<p class='text-center'><small>All images and logos are property of their respective owners</small></p>
</footer>
