<nav class="navbar navbar-inverse  navbar-fixed-top center">
	<div class='container-fluid'>
		<div class='navbar-header'>
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	        </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        	<div class='navbar-inner'>
	            <ul class="nav navbar-nav">
	                <li><a href="#/home">Home</a></li>
                    <li class='active'><a href="#/register">Register!</a></li>
	                <li><a href="#/about">About</a></li>
	                <li><a href="#/events">Events</a></li>
	                <li><a href="#/join">Join</a></li>
	                <li><a href="#/gallery">Gallery</a></li>
	                <li><a href="#/contact">Contact</a></li>
	            </ul>
	        </div>
		</div><!--/.nav-collapse -->
	</div>
</nav>
<div class='header'>
	<img src='http://d1vl6bnef6sopf.cloudfront.net/prsd_logo.jpg' class='img-responsive center-block' id='logo' alt='Platte River Scuba Divers logo'/>
</div>
<div class='container-fluid main'>
	<div class="row">
		<div class='col-lg-12 col-md-12 col-sm-12'>
			<h3 class='text-center mission'>Promote fun and safe diving for all ages.  Explore and protect our aquatic environment.  Stay active in diving.</h3>
            <div class="text-center" id='nationals'>
                <h1>2017 National Freshwater Spearfishing Tournament</h1>
                <h2>August 26  |  Lake McConaughy</h2>
                <h2>Ogallala, Nebraska</h2>
            </div>
		</div>
	</div>
    <div class="row nationals_div">
        <div class='col-lg-12 col-md-12 col-sm-12 text-center'>
            <h2>Schedule of Events</h2>
            <p class='nationals_p_boarder'>All times listed are Mountain Daylight Time</p>
            <h3>Friday, August 25th</h3>
            <p class='nationals_p_boarder'>6:00 p.m. MDT - Mandatory Competition Meeting and Fishing Licesnse Verification</p>
            <h3>Saturday, August 26th</h3>
            <p>7:30 a.m. MDT - Mandatory Briefing/Check-out</p>
            <p>7:45 a.m. MDT - Begin Travel Time</p>
            <p>8:00 a.m. MDT - Tournament Begins (Divers may enter the water)</p>
            <p>3:00 p.m. MDT - Tournament Ends (Divers must exit the water)</p>
            <p>3:30 p.m. MDT - Mandatory Check-in / Weigh-in Begins</p>
            <p>6:00 p.m. MDT - Banquet / Awards / Raffles</p>
        </div>
    </div>
    <div class="row">
        <h2>Register</h2>
        <div class="form-group">
          <label for=""></label>
          <input type="text" class="form-control" id="" placeholder="">
        </div>
    </div>
	<div class="row">
		<div class='col-lg-6 col-md-6 col-sm-6 pull-left' id='left_div'>
			<a href="http://www.watersportsunlimited.net/">
				<img id="watersportsLogo" class='img-responsive pull-left' src="http://d1vl6bnef6sopf.cloudfront.net/watersports_new.png" alt="Watersports Unlimited Logo">
			</a>
		</div>
		<div class='col-lg-6 col-md-6 col-sm-6 pull-right' id='right_div'>
			<a href='https://www.padi.com/'>
				<img id="padiLogo"  class='img-responsive pull-right' src="http://d1vl6bnef6sopf.cloudfront.net/padi_logo.jpg" alt="Professional Association of Dive Instructors Logo">
			</a>
		</div>
	</div>
</div>
<div class='footer-border'></div>
<footer class='footer footer-inverse'>
	<p class='text-muted text-center'>Copyright &copy; 2017 Platte River Scuba Divers</p>
	<p class='text-center'><small>All images and logos are property of their respective owners</small></p>
</footer>
